body {
    background-color: #6495ed;
}

.login-header {
    font-size: 40px;
    color: #898989;
    margin-left: 65px;
    font-family: 'Roboto', sans-serif;
}

.container {
    border: 0px solid white;
    border-radius: 11px;
    margin-left: 45%;
    margin-top: 15%;
    height: 350px;
    width: 250px;
    background-color: white;
    border: 1px solid grey;
}

input[type="email"] {
    width: 200px;
    border-radius: 4px;
    height: 40px;
    margin-top: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #faf4f4;
    border: 0px solid grey;
    margin-left: 18px;
    
}

input[type="password"] {
    width: 200px;
    border-radius: 4px;
    height: 40px;
    margin-top: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #faf4f4;
    border: 0px solid grey;
    margin-left: 18px;
      
}

.my-btn{
    background-color: #6495ed;
    color: white;
    margin-left: 18px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 210px;
    
}

.password-recovery {
    font-size: 18px;
    text-decoration: underline;
    margin-left: 45px;
    color: #898989;
}

.underline-style {
    text-decoration: underline;
    margin-left: 1%;
}

.account-creation {
    font-size: 18px;
    display: flex;
    margin-left: 45%;
    color: white;
    }


.my-btn:hover {
    background-color: #1e58c4 ;
}

.my-btn:active {
    background-color: #6495ed;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
}
